<?xml version="1.0" encoding="UTF-8"?>

<!-- This is beans.xml file. This is a type of Spring configuration file.
This is created with the configuration metadata that is later supplied to the
Container  -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
   
   <!-- <context:annotation-config/> looks for the annotations on beans in
    the same application context it is defined in.  This is mainly used to
     activate the dependency injection annotations.  -->
     
   <context:annotation-config/>
   
  
  <bean id="student" class="com.digit.Required.Student">
  <property name = "id" value = "4724" />
  <property name = "name"  value = "Ronit"/>
  <property name="favSub"  value="Computer"></property>
		
	</bean>

</beans>